.page{
  height: 100%;
  width: 100%;
}

.loginContainer{
  height: 100vh;
  min-height: fit-content;
  width: 50%;
  background-color: #fff;
  padding: 4rem clamp(4rem, 10vw, 6rem);
  display: flex;
  flex-direction: column;
  .title{
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
  }

  .h2{
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .inputSection{
    margin-bottom: 1.5rem;

    .input{
      width: 100%;
    }
  }

  .footer{
    margin-top: 4rem;
    align-self: end;
  }
}
.coverImg{
  flex-grow: 1;
  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
  }
}