.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-color: #70BDDE;
  flex-direction: column;
  padding: 2rem;
  width: 100vw;
  border-radius: 20px 20px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;

  img{
    aspect-ratio: 1 / 1;
    width: 2.8rem;
  }

  h1{
    font-size: 2rem;
    font-weight: 600;
  }
}