.menuItem{
    padding: 2rem;
    border: 1px solid #B7B7B7;
    min-height: 100px;
    width: calc(100% / 3);
    position: relative;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    .name{
        margin-top: 2.5rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}